:root {
  --primary-color: #CCFF00;
  --hover-color: #b3e600;
  --hover-text-color: black;
  --text-color: white;
  --background-color: #000000;
}

.custom-btn {
  border: 2px solid var(--primary-color) !important;
  color: var(--text-color) !important;
  background-color: transparent !important;
  transition: 0.3s ease;
}

.custom-btn:hover {
  background-color: var(--primary-color) !important;
  color: var(--hover-text-color) !important;
  box-shadow: 0 0 8px var(--primary-color);
}

.custom-txt:hover{
      color: var(--hover-color) !important;
}

.custom-navbar {
  z-index: 1000;
}
.custom-banner{
  position: relative;
}
.custom-banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;

}
.custom-banner_content{
  position: relative;
   z-index: 2;
}